* {
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  width: 1154px;
  height: 68px;
  left: 286px;
  right: 0;
  top: 0;
  bottom: 772px;
  border-bottom: 0px solid;
  border-radius: 25px;
  box-shadow: 0 14px 6px -6px gray;
  opacity: 0.5;
}
.header__info {
  position: absolute;
  width: 1072px;
  height: 66px;
  left: 32px;
  top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 0px;
  font-family: Circe Rounded;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.header__info-box-txt {
  text-decoration: none;
  color: black;
}
.header__info-box-user {
  text-decoration: none;
}
.lPanel {
  position: absolute;
  width: 236px;
  height: 704px;
  left: 50px;
  right: 1154px;
  top: 24px;
  bottom: 112px;
  border-radius: 30px;
  /* violet light */
  background: rgb(238, 238, 255);
}
.lPanel__logo {
  padding-top: 44px;
  text-align: center;
}
.lPanel__menu {
  padding-top: 40px;
}
.lPanel__menu-1 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  height: 40px;
}
.lPanel__menu-2 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  background: rgb(141, 127, 199);
  border-bottom-right-radius: 30px;
  margin-right: 30px;
  border-top-right-radius: 30px;
  height: 40px;
}
.lPanel__menu-2-feature {
  color: white;
}
.lPanel__menu-3 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-4 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-5 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-6 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-7 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-8 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-9 {
  padding-left: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: rgb(67, 75, 116);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.lPanel__menu-img {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.lPanel__menu-img-1 {
  border-style: dashed;
  border-color: gray;
  border-radius: 15px;
  border: 1px;
  border-style: dashed;
  color: gray;
}

.date {
  position: absolute;
  width: 1072px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
  top: 88px;
}
.date__left {
  padding-right: 16px;
}
.date__now {
  position: static;
  width: 90px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-align: left;
}
.date__right {
  padding-left: 16px;
  padding-right: 28px;
}
.date__btn {
  position: static;
  width: 85px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
  box-sizing: border-box;
  border: 1px solid rgb(141, 127, 199);
  border-radius: 15px;
  background: rgb(255, 255, 255);
}

.table {
  position: absolute;
  width: 1072px;
  height: 573px;
  top: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.dat {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.week {
  display: flex;
  width: 100%;
  height: 101px;
}
.week div {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  justify-content: flex-end;
}

.week-title {
  display: flex;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: end;
  text-align: end;
  color: rgb(121, 116, 127);
  font-family: Circe Rounded;
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
}
.week-title div {
  width: 100%;
}

.desk__1 {
  position: absolute;
  width: 526px;
  height: 248px;
  left: 318px;
  top: 88px;
  border-radius: 30px;
  background: rgb(115, 98, 188);
  overflow: hidden;
}
.desk__1-txt {
  position: absolute;
  width: 366px;
  height: 64px;
  left: 40px;
  top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Circe Rounded;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-decoration: none;
}
.desk__1-txt2 {
  position: absolute;
  width: 294px;
  height: 60px;
  left: 40px;
  top: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}
.desk__1-img {
  position: absolute;
  width: 261px;
  height: 248px;
  left: 334px;
  top: 0;
  background-image: url("../../img/SF_2 1.png");
  background-repeat: no-repeat;
}
.desk__2 {
  position: absolute;
  width: 344px;
  height: 248px;
  left: 864px;
  top: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background: rgb(255, 241, 203);
}
.desk__2-txt {
  position: static;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0px 32px 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.desk__2-btn {
  position: static;
  width: 220px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px 10px 70px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
  border: 1px dashed rgb(50, 56, 84);
  border-radius: 30px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: center;
}
.desk__3 {
  position: absolute;
  width: 344px;
  height: 372px;
  left: 318px;
  top: 356px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  border: 1px solid rgb(115, 98, 188);
  border-radius: 30px;
  padding-left: 28px;
  background: rgb(255, 255, 255);
}
.desk__3-block {
  border-radius: 12px;
  position: static;
  width: 288px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}
.desk__3-block-txt1 {
  text-decoration: none;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.desk__3-block-txt2 {
  text-decoration: none;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.desk__3-block-txt3 {
  text-decoration: none;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.desk__3-title {
  position: static;
  width: 186px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.desk__3-btn {
  border: none;
  position: static;
  width: 288px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 10px 40px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 36px 0px;
  border-radius: 30px;
  background: rgb(222, 207, 255);
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: center;
}
.desk__4 {
  position: absolute;
  width: 708px;
  height: 372px;
  left: 682px;
  top: 356px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 28px 4px 30px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(115, 98, 188);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}
.desk__4-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desk__4-button {
  position: static;
  width: 344px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 10px 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 36px 0px;
  border-radius: 30px;
  background: rgb(222, 207, 255);
  border: none;
}
.desk__4-title {
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.desk__4-block {
  display: flex;
  position: static;
  width: 652px;
  height: 60px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 255);
}
.desk__4-block-container {
  width: 238px;
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  align-items: end;
}
.desk__4-block-mounth {
  width: auto;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 12px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
}
.desk__4-block-txt {
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
  position: static;
  width: 180px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  order: 1;
  margin: 0px 16px;
}
.desk__4-block-count {
  position: static;
  width: 42px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.desk__4-block-time {
  position: static;
  width: 61px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 12px;
  font-weight: 400;
  line-height: 135%;
  text-align: right;
}
.desk__4-block-img {
  width: 12px;
  height: 12px;
}
.desk__4-block-name {
  position: static;
  width: 81px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.desk__4-block-btns {
  display: flex;
}
.desk__4-block-btns-btn {
  width: 56px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 10px;
  flex: none;
  margin: 0px 4px;
  box-sizing: border-box;
  border: 1px solid rgb(238, 238, 255);
  border-radius: 15px;
}
.desk__4-block-btns-btn2 {
  position: static;
  width: 56px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px 8px 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
  border-radius: 15px;
  background: rgb(141, 127, 199);
  border: none;
  color: white;
}
.desk__5 {
  position: absolute;
  width: 250px;
  height: 262px;
  left: 1140px;
  top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(115, 98, 188);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}
.desk__5-form {
  border-bottom: 1px solid rgb(238, 238, 255);
}
.desk__5-form-footer {
  display: flex;
  gap: 115px;
  padding-top: 21px;
}
.desk__5-form-footer-btn {
  position: static;
  width: 45px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  color: rgb(0, 138, 255);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: center;
  border: none;
  background: white;
}
.desk__5-form-footer-btn2 {
  position: static;
  width: 45px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px 8px;
  color: rgb(0, 138, 255);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: center;
  border: none;
  background: white;
}
.desk__5-form-txt {
  position: static;
  width: 144px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 12px;
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
  text-decoration: none;
}
.desk__5-form-user {
  display: flex;
  gap: 8px;
  width: 32px;
  height: 32px;
  padding-bottom: 24px;
  align-items: center;
}
.desk__5-form-user-img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}
.desk__5-form-user-box-1 {
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 12px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
}
.desk__5-form-user-box-2 {
  color: rgb(50, 56, 84);
  font-family: Circe Rounded;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.desk__5-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=styles.css.map */