* {
    padding: 0;
    margin: 0;
}


.container {
    // контейнер в котором лежит все
    background-color: blue;
    width: 100%;
    display: grid;
    // grid-column: span 12;
    grid-template-columns: repeat(15, 1fr);

}

.header {
    background-color: red;
    display: grid;
    grid-column-start: 4;
    grid-column-end: 16;
}


.content {
    // раздел для таблицы
    background-color: green;
    display: grid;
    grid-column-start: 4;
    grid-column-end: 16;
    grid-row-start: 2;
    grid-row-end: 4;
}

.lPanel {
    // левая панель 
    background-color: gray;
    height: 500px;
    display: grid;
    grid-column: span 3;
    grid-row-start: 3;
}