* {
    padding: 0;
    margin: 0;
}


// .center {
//     padding-left: calc(50% - 695px);
//     padding-right: calc(50% - 695px);
// }

.container {
    // контейнер в котором лежит все
    width: auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    height: 66px;

    display: grid;
    grid-column: span 12 / 16;


    border-bottom: 0px solid;
    border-radius: 25px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 14px 6px -6px gray;
    opacity: 0.5;

    &__info {
        display: flex;
        flex-direction: row;

        justify-content: flex-end;
        align-items: center;
        padding: 0px 12px 0px;
    }

    &__block {
        display: flex;
        gap: 16px;
    }

}


.content {
    // раздел для таблицы
    background-color: green;
    display: grid;
    grid-column: 4 / 16;
    grid-row: 2 / 10;

    margin-left: 32px;
    margin-top: 21px;
}

.lPanel {

    // ?
    // grid-row: span 1 / 2;
    // margin-top: 23px;
    margin-top: -33px;
    // ?

    height: 704px;
    // левая панель 
    display: grid;
    grid-column: span 3;



    border-radius: 30px;
    background: rgb(238, 238, 255);

    &__logo {
        padding-top: 44px;
        text-align: center;
    }

    &__menu {
        padding-top: 40px;

        &-1 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;

            height: 40px;
        }

        &-2 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;

            background: rgb(141, 127, 199);
            border-bottom-right-radius: 30px;
            margin-right: 30px;
            border-top-right-radius: 30px;
            height: 40px;


            &-feature {
                color: white;
            }
        }

        &-3 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-4 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-5 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-6 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-7 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-8 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-9 {
            padding-left: 44px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: rgb(67, 75, 116);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-img {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            &-1 {
                border-style: dashed;
                border-color: gray;
                border-radius: 15px;
                border: 1px;
                border-style: dashed;
                color: gray;
            }
        }
    }


}


.selectTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__select {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 12px 10px 12px;

        margin: 0px 10px;
        box-sizing: border-box;
        border: 1px solid rgb(236, 236, 236);
        border-radius: 8px;

        background: rgb(255, 255, 255);
        height: 36px;
        width: 253px;

    }

    &__button {
        width: 344px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 40px 10px 40px;
        border: none;

        color: rgb(50, 56, 84);
        font-family: Circe Rounded;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;


        background: rgb(222, 207, 255);
        border-radius: 30px;


    }
}



.table {


    height: 573px;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;
    background-color: yellow;

    &__date {
        display: flex;
        align-items: center;
        padding-bottom: 12px;

        &-left {
            padding-right: 16px;
        }

        &-right {
            padding-left: 16px;
            padding-right: 28px;
        }

        &-now {
            width: 90px;
            height: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 0px;
            color: rgb(50, 56, 84);
            font-family: Circe Rounded;
            font-size: 16px;
            font-weight: 700;
            line-height: 125%;
            text-align: left;
        }

        &-btn {
            width: 85px;
            height: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 16px 8px 16px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 16px;
            box-sizing: border-box;
            border: 1px solid rgb(141, 127, 199);
            border-radius: 15px;
            background: rgb(255, 255, 255);
        }

        &-img {}

    }


}

.grid {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid;


    &__win {
        height: 101px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 4px 2px 2px 2px;
        order: 0;
        align-self: stretch;
        border: 1px solid;
    }
}